<launch4jConfig>
    <dontWrapJar>false</dontWrapJar>
    <headerType>gui</headerType>
    <jar>target/alwaysthere-1.0-SNAPSHOT.jar</jar>
    <outfile>target/alwaysthere-1.0-SNAPSHOT.exe</outfile>
    <chdir>.</chdir>
    <priority>normal</priority>
    <stayAlive>false</stayAlive>
    <restartOnCrash>false</restartOnCrash>
    <icon>src/main/resources/icon.png</icon>
</launch4jConfig>
